.whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  background-color: #25d366;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  text-decoration: none;
}

.whatsapp:hover {
  background-color: #128c7e;
}




